
@media screen and (min-width: 960px){
.form_bottom
{
	
	width:60%;  
     height:40%;  
	margin:0 auto;
	 
	left: 50%;  
    
	padding: 20px 40px 40px 40px;
	background: #444;
	background: rgba(0, 0, 0, 0.1);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	
	
	
	
	
}
}

@media screen and (max-width: 960px){
.form_bottom
{
	
	width:100%;  
     height:100%;  
	
	 
	left: 50%;  
    
	padding: 20px 20px 5px 20px;
	margin-bottom: 5px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	
	
}
.form-horizontal
{
	position: absolute;
	width:100%;
	right: 7px;
}
}




#key
{ 
	
	
	text-align:center; 
	vertical-align:middel;
}
#email
{
	text-align:center; 
	vertical-align:middel;
}
#url
{   
	text-align: center;
	vertical-align: middle;
	}

.control{
	
	box-shadow: #006DCC;
	padding: 15px 0px 20px 0px;
	text-align: center;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	
}
.control2{

	box-shadow: #006DCC;
	padding: 10px 0px 10px 0px;
	text-align: center;
	-webkit-border-radius: 10px;
    border-radius: 10px;

}
.control-group
{   position:relative
	text-align: left;
	
	
}
   
.titleContent 
{
	text-align: left;
	color: white;
}
    
}
.formTitle
{
	text-align: center;
	padding-bottom: 10px;

}
@media screen and (max-width: 960px){
.header
{
	color: white;
	text-align: left;
	padding-bottom: 30px;
	padding-left: 10px;
	margin-left: 0px;
	size:auto;
	
}
}
@media screen and (min-width: 960px){
.header
{
	color: white;
	text-align: left;
	padding-bottom: 30px;
	size:auto;
	
}	
}
.options
{
	-moz-border-radius: 25px 25px 25px 25px; -webkit-border-radius: 25px 25px 25px 25px; border-radius: 25px 25px 25px 25px;
}



